.user-form .mat-form-field{
    width: 100%;
    margin-bottom: -1.34375em;
}
.scrol{
  height: 575px;
  overflow-y: auto;
}

.bubble.left:after {
  top:40%;
  left:-20px;
  bottom:auto;
  border-width:10px 20px 10px 0;
  border-color:transparent #00B4CC;
}
.bubble.left{
  margin-left: 20px;
}
.bubble{
  position: relative;
  padding: 5px;
  margin: 1em 0 3em;
  color: #343838;
  background: #00B4CC;
  border-radius: 10px;
}
.bubble:after{
  content:"";
  position:absolute;
  bottom:-15px;
  left:48%;
  border-width:15px 15px 0;
  border-style:solid;
  border-color:#00B4CC transparent;
  display:block;
  width:0;
}
// time lene css ============================


$black: #202020;
$white: #fff;
$dark-grey: #808080;
$light-grey: #180ea7;
$purple: #B97CFC;
$pink: rgb(230, 67, 154);
$green: #B0E8E2;
$orange: #EB8B6E;


.container {
  max-width: 350px;
  max-height: 630px;
  overflow: hidden;
  margin: 30px auto 0;
  box-shadow: 0 0 40px lighten($black, 50);
  font-family: 'Open Sans', sans-serif;
}

.navbar {
  background: $purple;
  color: $white;
  padding: 1em 0.5em;
  
  a {
    color: $white;
    text-decoration: none;
    font-size: 1.3em;
    float: left;
  }
  
  span {
    font-size: 1.1em;
    font-weight: 300;
    display: block;
    text-align: center;
  }
}

.profile-pic {
  width: 30px;
  height: 30px;
  display: inline-block;
  position: relative;
  
  img {
    width: 100%;
    border-radius: 50%;
  }
}

.notification {
  position: absolute;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  top: 2px;
  right: 2px;
  background: $pink;
}

.header {
  background: url(https://unsplash.it/1080/720?image=1044);
  background-size: cover;
  color: $white;
  position: relative;
}

.color-overlay {
  padding: 3em 2em;
  box-sizing: border-box;
  background: rgba(123, 94, 155, 0.5) ;
}

.actionbutton {
  position: absolute;
  background: $pink;
  width: 50px;
  height: 50px;
  font-size: 3em;
  font-weight: 300;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: -25px;
  right: 20px;
  box-shadow: 0 0 8px #202020;
  cursor:pointer;
}

.day-number {
  font-size: 4em;
  display: inline-block;
  margin-right: 15px;
}

.date-right {
  display: inline-block;
}

.day-name {
  font-size: 1.6em;
}

.month {
  text-transform: uppercase;
  font-weight: 300;
  font-size: 0.6em;
  letter-spacing: 2px;
  margin-top: 2px;
}

.timeline {
  height: 310px;
  overflow-x: auto;
  word-wrap: break-word;
  ul {
    padding: 1em 0 0 2em;
    margin: 0;
    list-style: none;
    position: relative;
    &::before {
      content: ' ';
      height: 100%;
      width: 1px;
      background-color: $light-grey;
      position: absolute;
      top: 0;
      left: 2.5em;
      z-index: 1;
    }
  }
  
  li div{
    display: inline-block;
    margin: 1em 0;
    // color: blue;
    vertical-align: top;
  }
  
  .bullet {
    width: 1em;
    height: 1em;
    box-sizing: border-box;
    border-radius: 50%;
    background: $white;
    z-index: 1;
    margin-right: 1em;
    
    &.pink {
      border: 2px solid $pink;
    }
    
    &.green {
      border: 2px solid $green;
    }
    
    &.orange {
      border: 2px solid $orange;
    }
  }
  
  .time {
    width: 20%;
    font-size: 0.75em;
    padding-top: 0.25em;
  }
  
  .desc {
    width: 50%;
  }
  
  h3 {
    font-size: 0.9em;
    font-weight: 400;
    margin: 0;
  }
  
  h4 {
    margin: 0;
    font-size: 0.7em;
    font-weight: 400;
    color: $dark-grey;
    width: 100px;
  }
  
  .people img{
    width: 30px;
    height: 30px;
    border-radius: 50%;
  }
}

.credits, .video{
  position: absolute;
  bottom:10px;
  color: $dark-grey;
  font-size: 100%;
  text-decoration: underline;
}

.credits {
  left: 10px;
}

.video{
  right: 10px;
}

/// css time line ============


/***
 * https://css-tricks.com/ordering-css3-properties/
 * http://www.456bereastreet.com/archive/201311/cutting_down_on_vendor_prefixes/
 ***/

 $bg: #fffff0;
 $line: rgb(15, 55, 189);
 $red: #f962d3;
 $date: rgba(23, 204, 23, 0.774);
 
 
 #timeline {
   list-style: none;
   width: 100%;
   height: 200px;
   margin: 200px 0 0;
   border-top: 6px solid $line;
   display: table;
   border-spacing: 30px 0;
   li {
     display: table-cell;
     position: relative;
     min-width: 100px;
   }
 }
 .circle {
   margin: 0 auto;
   top: -14px;
   left: 0;
   right: 0;
   width: 10px;
   height: 10px;
   background: $bg;
   border: 6px solid $red;
   border-radius: 50%;
   display: block;
   position: absolute;
 }

 .content {
   text-align: center;
   position: relative;
   
 }
 .avatar {
   width: 30px;
   height: 30px;
   display: block;
   border-radius: 50%;
   border: 6px solid $line;
   position: absolute;
   margin: 0 auto;
   left: 0;
   right: 0;
   text-align: center;
   line-height: 30px;
   background: $bg;
 }
 .content:before {
   content: '';
   width: 50px;
   height: 100px;
   left: 50%;
   margin-left: -2px;
   position: absolute;
 }
 li.down {
   .content:before {
     border-left: 4px solid $red;
     border-bottom: 4px solid $red;
     -webkit-border-radius: 0 20px;
     -moz-border-radius: 0 20px;
     border-radius: 0 20px;
   }
   .avatar {
     top: 80px;
     left: 100px;
   }
 }
 li.up {
   .content {
     margin-top: -106px;
     &:before {
       border-left: 4px solid $red;
     }
   }
   .date {
     margin-top: 106px;
   }
   .avatar {
     background: $bg;
     margin-top: -30px;
   }
 }
 .rectangle {
   border: 1px solid $red;
   border-radius: 30px;
   height: 30px;
   width: 200px;
   top: -19px;
   position: relative;
   background: $bg;
   line-height: 30px;
   text-align: center;
 }
 