.user-form{
    .form-field-outer{
        width: 280px;
    }
    .mat-radio-button{
        margin-right: 12px;
    }
}
mat-checkbox  {
    // padding-top: 5%;
      margin-left: 5%;
    }
    mat-grid-tile  {
        justify-content: left !important;
    }
    // .mat-tab-body-content{
    //     height: 50px !important;
    // }

    