<div class="mat-elevation-z8" style="margin-left: 5%; margin-right: 5%;">

  <table mat-table [dataSource]="dataSource">

       <!-- Position Column -->
       <ng-container matColumnDef="index">
        <th mat-header-cell *matHeaderCellDef style="width: 20%;"> .#</th>
        <td mat-cell *matCellDef="let element;index as i;"> {{i+1}} </td>
      </ng-container>
    <!-- Position Column -->
    <ng-container matColumnDef="source_name">
      <th mat-header-cell *matHeaderCellDef style="width:35%;">  User routes </th>
      <td mat-cell *matCellDef="let element"> {{element?.routes}} </td>
    </ng-container>
    <!-- Position Column -->
    <ng-container matColumnDef="Position">
      <th mat-header-cell *matHeaderCellDef style="width:25%;">  Activity </th>
      <td mat-cell *matCellDef="let element"> {{element?.activity}} </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="active">
      <th mat-header-cell *matHeaderCellDef> Date & Time </th>
      <td mat-cell *matCellDef="let element"> {{element?.at | date:'medium' }} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
</div>
