<h1 mat-dialog-title *ngIf="!send_email">Send SMS Notification </h1>
<h1 mat-dialog-title *ngIf="send_email">Send Email Notification </h1>

<div mat-dialog-content style="width: 500px;" *ngIf="intrigation">
  <form [formGroup]="form" fxLayout="row wrap" class="user-form">
    <div fxLayout="column" class="form-field-outer">
      <div fxFlex="100">
        <mat-form-field style="width: 50%;">
          <input matInput formControlName="api_name" placeholder="Api Name">
        </mat-form-field>
        <mat-form-field style="width: 49%; padding-left: 1%;">
          <mat-select placeholder="api_type" formControlName="api_type">
            <mat-option value="api_type">api_type</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div fxFlex="100">
        <mat-form-field style="width: 50%;">
          <input matInput formControlName="http_api" placeholder="HTTP Api">
        </mat-form-field>
        <mat-form-field style="width: 49%; padding-left: 1%;">
          <input matInput formControlName="kye_message" placeholder="kye_message">
        </mat-form-field>
      </div>
    </div>
  </form>
</div>

<div mat-dialog-content style="width: 500px;" *ngIf="template">
  <form [formGroup]="templateForm" fxLayout="row wrap" class="user-form">
    <div fxLayout="column" class="form-field-outer">
      <div fxFlex="100">
        <mat-form-field style="width: 100%;">
          <input matInput formControlName="template_name" placeholder="Template Name">
        </mat-form-field>
      </div>
      <div fxFlex="100">
        <mat-form-field style="width: 100%;">
          <textarea matInput formControlName="template_content" placeholder="Template Content"
            style="height: 150px;"></textarea>
        </mat-form-field>
      </div>
    </div>
  </form>
</div>

<div mat-dialog-content style="width: 500px;" *ngIf="email">
  <form [formGroup]="emailForm" fxLayout="row wrap" class="user-form">
    <div fxLayout="column" class="form-field-outer">
      <div fxFlex="100">
        <mat-form-field style="width: 50%;">
          <input matInput formControlName="title" placeholder="Title">
        </mat-form-field>
        <mat-form-field style="width: 50%;">
          <input matInput formControlName="protocal" placeholder="protocal">
        </mat-form-field>
      </div>
      <div fxFlex="100">
        <mat-form-field style="width: 50%;">
          <input matInput formControlName="smtp_host" placeholder="SMTP Host">
        </mat-form-field>
        <mat-form-field style="width: 50%;">
          <input matInput formControlName="smtp_user" placeholder="SMTP User">
        </mat-form-field>
      </div>
      <div fxFlex="100">
        <mat-form-field style="width: 50%;">
          <input matInput formControlName="smtp_password" placeholder="SMTP Password">
        </mat-form-field>
        <mat-form-field style="width: 50%;">
          <input matInput formControlName="smtp_port" placeholder="SMTP Port">
        </mat-form-field>
      </div>
    </div>
  </form>
</div>

<div mat-dialog-content style="width: 550px; height: 350px;" *ngIf="template_email">
  <form [formGroup]="templateEmailForm" fxLayout="row wrap" class="user-form">
    <div fxLayout="column" class="form-field-outer">
      <div fxFlex="100">
        <mat-form-field style="width: 50%;">
          <input matInput formControlName="template_name" placeholder="template Name">
        </mat-form-field>
        <mat-form-field style="width: 49%; padding-left: 1%;">
          <mat-select placeholder="template_response" formControlName="template_response">
            <mat-option value="normal">Normal</mat-option>
            <mat-option value="auto">Auto</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div fxFlex="100">
        <mat-form-field style="width: 100%;">
          <input matInput formControlName="mail_subject" placeholder="mail_subject">
        </mat-form-field>
      </div>
      <div fxFlex="100">
        <!-- <mat-form-field style="width: 100%;"> -->
        <!-- <textarea matInput formControlName="message" placeholder="message" style="height: 150px;"></textarea> -->
        <quill-editor formControlName="message"></quill-editor>
        <!-- </mat-form-field> -->
      </div>
    </div>
  </form>
</div>
<div mat-dialog-content style="width: 550px; height: 250px;" *ngIf="send_email">
  <form [formGroup]="email_send_form" fxLayout="row wrap" class="user-form">
    <div fxLayout="column" class="form-field-outer">
      <div fxFlex="100">
        <mat-form-field style="width: 100%;" appearance="outline">
          <mat-select placeholder="Email Template" formControlName="email_template">
            <mat-option *ngFor="let type of emails_tempalte ; let i = index" [value]="type._id"
              (onSelectionChange)="stage_chnage(type.message)">{{type?.template_name}}</mat-option>

          </mat-select>
        </mat-form-field>
      </div>
      <div fxFlex="100">
        <mat-form-field style="width: 100%;" appearance="outline">
          <textarea matInput formControlName="message" placeholder="message" style=" height: 110px;"
            [disabled]="true"></textarea>
        </mat-form-field>
      </div>
    </div>
  </form>
</div>


<div mat-dialog-actions fxLayout="row" fxLayoutAlign="space-between center">
  <button mat-raised-button color="primary" type="button" (click)="submit()" *ngIf="intrigation">Save</button>
  <button mat-raised-button color="primary" type="button" (click)="template_Add()" *ngIf="template">Save</button>
  <button mat-raised-button color="primary" type="button" (click)="email_from()" *ngIf="email">Save</button>
  <button mat-raised-button color="primary" type="button" (click)="send_email_add()" *ngIf="send_email">Save</button>
  <button mat-raised-button color="primary" type="button" (click)="template_email_add()"
    *ngIf="template_email">Save</button>
  <button mat-raised-button color="warn" (click)="close()">Cancel</button>
</div>