<div class="mat-elevation-z8" style="margin-left: 5%; margin-right: 5%;">
  <div fxLayout="row" fxLayoutAlign="space-between center" class="flex-p">
    <div fxLayout="row">
        <mat-button-toggle-group #controls="matButtonToggleGroup" appearance="legacy">
          <mat-button-toggle value="add" (click)="openSmsDialog(null)" matTooltip="Add Compaing List">
            Add Compaing List
            <mat-icon style="color: rgb(7, 7, 117);">add_box</mat-icon>
          </mat-button-toggle>
          </mat-button-toggle-group>
    </div>
  </div>
  <table mat-table [dataSource]="dataSource">

    <!-- Position Column -->
    <ng-container matColumnDef="position">
      <th mat-header-cell *matHeaderCellDef> Intrigation Name </th>
      <td mat-cell *matCellDef="let element"> {{element?.intrigation_name}} </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Assing To </th>
      <td mat-cell *matCellDef="let element"> 
       {{element?.assing_to?.profile?.name}}  {{element?.assing_to?.profile?.surname}}
      
      </td>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="weight">
      <th mat-header-cell *matHeaderCellDef> QR-Code </th>
      <td mat-cell *matCellDef="let element">  
         <img id='barcode' class="ponter"
        src='{{element?.qu_code}}' width="90" height="90" style="padding-top: 9%; padding-bottom: 9%;" (click)="open_qr_form(element.assing_to._id)" />
       </td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="symbol">
      <th mat-header-cell *matHeaderCellDef> Acttion </th>
      <td mat-cell *matCellDef="let element"> 

        <button mat-mini-fab color="primary" (click)="print(element.qu_code)">
          <i class="material-icons">
            print
            </i>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator [pageSizeOptions]="[2, 8, 12 ,20]" showFirstLastButtons></mat-paginator>
</div>
